@import "normalize.css";
@import "../../d.scss";
@import "highlight.js/styles/github.css";

::selection {
  background: #0074bf;
  color: #e5f1f8;
  -webkit-font-smoothing: antialiased;
}

body {
  //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  color: #2c3746;
}


article {
  margin: 0 auto;
  font-size: 14px;

  h1 {
    font-size: 1.5rem;
    line-height: 1.25;
  }

  .meta {
    font-size: .8rem;
    line-height: 2;
    color: #6d6d6d;
  }

  blockquote {
    margin: 0;
    background: lavender;
    padding: 10px 15px;
    color: #7F8FA4;
    background-color: rgba(202, 224, 224, 0.3);
    border-left-color: #97babf;
    border-left: 8px solid #9ab7c3;
  }

  code {
    background: rgba(255,229,100,0.2);;
  }

  pre {
    background: whitesmoke;
    padding: 15px 10px;
    line-height: 1.25;

    code {
      background: whitesmoke;
    }
  }

  p {
    line-height: 1.5;
  }

  a {
    background-color: rgba(187,239,253,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    color: #1a1a1a;

    &:hover {
      background-color: #bbeffd;
      border-bottom-color: #1a1a1a;
    }
  }

  li {
    line-height: 1.5;
  }

  h3 {
    color: #458;
  }
  h4 {
    color: darkcyan;
  }
  strong {
    color: darkslategray;
  }
  figure {
    text-align: center;

    figcaption {
      padding: 10px 0 0 0;
      font-size: 14px;
      color: #4e4e4e;
    }
  }

}

