<footer class="site-footer">

  <div class="wrapper">


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <h2 class="footer-heading">Social Networking</h2>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <li>
            <a href="/feed.xml">
              <span class="icon fa fa-rss-square" aria-hidden="true" style="color: darkcyan"></span>
              <span class="username">via RSS</span></a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <h2 class="footer-heading">Blogroll</h2>

        <ul class="social-media-list">
          <li>
            <a href="http://ja.numberempire.com/" target="_blank">数の帝国</a>
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-3" style="text-align: right;">
        <ul class="contact-list">
          <li>
            版权声明：<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">知识共享 署名-非商业性使用-禁止演绎 4.0 国际 许可协议</a>。<br/>
      © 2014 - 2016 <a href="mailto:{{ site.email }}">{{ site.title }}</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</footer>
