<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>掬一捧 - 🤓 Solo Web Developer</title>
    <meta name="description" content="掬一捧清水窥明月...">
  </head>

  <body>
    {% include "./layout/header.html" %}
    <div id="app"></div>
    {% include "./layout/posts.html" %}
    {% include "./layout/footer.html" %}
  </body>

</html>
