<!doctype html>
<html>
<head>
  <title>こんにちは、webgl</title>
</head>

<body>
  <canvas id="canvas" width="800" height="600">Please use a browser that supports "canvas".</canvas>
  <div id="app"></div>
</body>

</html>
