---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • <a href="{{ post.author.url }}">
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ post.author.name }}</span>
        </span></a>{% endif %}</span>


        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
