<!doctype html>
<html>
<head>
  <title>{{ meta.title +' - 掬一捧' }}</title>
  <link rel="stylesheet" href="/stylesheets/posts.css?v={{ version }}">
</head>

<body>
  <article>
    {{ content | safe }}
  </article>
</body>

</html>
