<div class="posts-recommend">
  <h3>技术</h3>
  <ul>
    <li><a href="/posts/tech-salon-13-app-proto.html">前端工程化开发方案app-proto</a></li>
    <li><a href="/posts/pure-functions-in-fp.html">函数式编程之纯函数</a></li>
    <li><a href="/posts/javascript-async.html">JavaScript异步编程</a></li>
    <li><a href="/posts/show-icon-in-web.html">Web頁面上的那些圖標</a></li>
  </ul>
  <h3>日常碎碎唸</h3>
  <ul>
    <li><a href="/posts/black-lives-matter.html">愿每一位家庭成员都被善意地对待</a></li>
    <li><a href="/posts/those-years-nba-player.html">那些年我关注过的NBA球星</a></li>
    <li><a href="/posts/feeling-of-writing.html">寫字的感覺</a></li>
  </ul>
</div>

